
html {
  font-size: 100%;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 1.4;
}

body {
  margin: 0;
}

/* http://type-scale.com/ */
p {
  margin-bottom: 1rem;
  margin-top: 0;
}

h1, h2, h3, h4 {
  margin: 1.5rem 0 0.5rem;
  font-weight: 70000;
  line-height: 1.1;
}

h1 {
  margin-top: 0;
  font-size: 5.063rem;
}

.title {
  font-size: 1rem;
  padding-bottom: .25rem;
  margin-bottom: 2.5rem;
  font-weight: 700;
}

p + .title {
  margin-top: 5rem;
}

pre + .title {
  margin-top: 3.25rem;
}

.series-description {
  margin-top: -1.3rem;
  font-style: italic;
}

.center {
  text-align: center;
  margin: 2.5rem auto;
}

h2 {font-size: 3.375rem;}

h3 {font-size: 2.25rem;}

h4 {font-size: 1.5rem;}

small, .font-very-small {
  font-size: 0.667rem;
  vertical-align: middle;
}

.container {
  overflow: hidden;
  margin: 4rem auto;
  max-width: 1000px;
  width: 92%;
}

.col {
  box-sizing: border-box;
  padding: 2rem;
}

.col-l {
  width: 25%;
  float: left;
}

.col-r {
  width: 75%;
  float: left;
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

img {
  width: 100%;
  height: auto;
}


/***********************
 RAINBOW THEME */

/**
 * Tomorrow Night theme
 *
 * @author Chris Kempson
 * @author skim
 * @version 1.0.0
 */
pre {
    background-color: rgba(0, 0, 0, 0.85);
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: #c5c8c6;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #969896;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #cc6666; /* red */
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: #de935f; /* orange */
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: #f0c674; /* yellow */
}

pre .constant.symbol, pre .string {
    color: #b5bd68; /* green */
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: #81a2be; /* blue */
}

pre .keyword, pre .storage {
    color: #b294bb; /* purple */
}

pre {
  font-size: 0.85rem !important;
  padding: 1rem 0 !important;
}

pre{padding:0;font-family:Monaco,'Source Code Pro',monospace;font-size:1em}.rainbow{border-spacing:0;border-collapse:collapse}.rainbow .line:hover{background-color:#171b1c}.rainbow .line:hover .line-number{background-color:#101313}.rainbow .line .line-number{text-align:right;background-color:#1b2022;padding-left:.8em;padding-right:.8em}.rainbow .line .line-number:before{content:attr(data-line-number)}.rainbow .line .line-code{padding-left:1em;width:100%}