<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link href='http://fonts.googleapis.com/css?family=Volkhov' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
  <h1>{{ title }}</h1>
  <h2>{{ my_description }}</h2>
  <h3>Sub headline</h3>
  <h4>Sub headline</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, adipisci
    ullam quam. Facilis esse at explicabo corporis placeat, cupiditate incidunt,
    beatae alias nobis architecto et illum tenetur vero accusamus, deserunt.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, adipisci
    ullam quam. Facilis esse at explicabo corporis placeat, cupiditate incidunt,
    beatae alias nobis architecto et illum tenetur vero accusamus, deserunt.
  </p>
  <p class="font-small">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, adipisci
    ullam quam. Facilis esse at explicabo corporis placeat, cupiditate incidunt,
    beatae alias nobis architecto et illum tenetur vero accusamus, deserunt.
  </p>
</body>
</html>