<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link href='http://fonts.googleapis.com/css?family=Volkhov' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
  <div class="container">
    <h1>My name is Timothy Malcham.</h1>
    <p>I live in Seattle and work as a web developer and software engineer, specializing
    in JavaScript (node, angular, react, etc.) and front end development.</p>
    <p>Want to talk?</p>
    <a href="mailto:timothy@malcham.com">timothy@malcham.com</a>
  </div>
</body>
</html>